.container-custom {
  max-width: 1920px;
  min-height: 100vh;
  margin: auto;

  @include response-to('device-large') {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.container {
  width: 98%;
  margin: auto;

  @include response-to('device-xsmall') {
    width: 100%;
    padding: 0 15px;
  }
}

@for $i from 1 through 4 {
  .width-#{(25*$i)} {
    width: 25%*$i;
  }

  .height-#{(25*$i)} {
    height: 25%*$i;
  }

  .p-#{(10*$i)} {
    padding: 10*$i+px;
  }

  .mt-#{(10*$i)} {
    margin-top: 10*$i+px;
  }
}

.rounded {
  border: 2px solid $black;
  border-radius: 50%;
}

.border {
  border: 2px solid $black;

  &--dotted {
    border-style: dotted;
  }
}