//Variables Color Scheme
$white: #FFF;
$black: #000000;
$sable: #060606;
$charcoal: #2E1503;
$tangerine: #FFAF6D;
$orange: #FFA500;

//Variables Font Family
$poppins: 'Poppins',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;

//Variables Font Weight
$fweight-regular: 300;
$fweight-bold: 400;

//Font style
$regular: normal;
$italic: italic;

//Varibles Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Device variables
$map-breakpoints: (
  'device-small': (min-width: 575.98px),
  'device-medium': (min-width: 767.98px),
  'device-large': (min-width: 991.98px),
  'device-xlarge': (min-width: 1199.98px),
  'device-xxlarge':(min-width:1400px)
);

///////////////////////
//Variables Boostrap//
