.button {
  background-color: $tangerine;
  color: $black;

  &:hover {
    background-color: $white;
  }

  &--bars {
    background-color: transparent;
    border: none;
    color: $white;

    &:hover {
      color: $tangerine;
    }
  }
}