.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    &--bg-gray {
      width: 100%;
      background-color: gray;
      color: $white;
      text-align: center;
    }
  }

  &__p {
    text-align: justify;
  }

  &__img{
    width: 100%;
    height: auto;

    &--s-courses{
      width: 50%;
      @include response-to('device-large'){
        width: 25%;
      }
    }
  }
}