.footer {
  background-color: $black;
  color: $white;
  padding: 40px 0;
  text-align: center;

  &__p {

    &--2 {
      margin-top: 20px;
    }

    &--3 {
      margin-top: 10px;
    }
  }

  @include response-to('device-large') {

    &__p--2,
    &__p--3 {
      margin-top: 0;
      margin-right: 20px;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__group {
      display: flex;
      align-items: center;

      &--left {
        justify-content: flex-start;
      }

      &--right {
        justify-content: flex-end;
      }
    }
  }
}